*::selection {
  background: $pink;
}

body {
  margin: 0;
  width: 100%;
  border: 2px solid green;
}

.wrapper {
  max-width: 100%;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: $blue;
}