header {
  // background: #d7d7d7;
}

.top {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #dbdbdb;

  img {
    width: 35px;
    height: 40px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #dbdbdb;
  }
}