*::selection {
  color: lightseagreen;
}

body {
  border: 8px solid lightblue;
  width: 100%;
}
.wrapper {
  max-width: 100%;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: red;
}