//! import google fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

//! import a custom font below
// @font-face {
//   font-family: 'font-name';
//   font-display: fallback;
//   src: url('{{ '../path/to/font' | asset_url }}') format('');
//   font-weight: normal;
//   font-style: normal;
// }

//! set font variables
$font-heading: 'Libre Baskerville', 'Georgia', serif;
$font-body: 'Roboto', sans-serif;

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-family: 'Roboto', san-serif;
  font-size: 1.7rem;
  font-weight: 400;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 4.7rem;
  font-weight: 700;
}