//? set your brand colors

$red: #AD2532;
$red-darker: #690608;
$blue: #3B4B98;
$blue-darker: #3A3A59;

$white: #fff;
$white-ish: #F7F7F7;
$grey: #D3D3D3;
$black: #09090E;
$black-ish: #444;


//? override for project clarity

$color-primary: $red;
$color-secondary: $blue;
$color-tertiary: #BADA55;