//? set your brand colors

$white: #fff;
$white-ish: #f7f7f7;

$grey: #d7d7d7;
$lightgrey: #f3f3f373;

$black: #09090e;
$black-ish: #444;

$blue: #458bc4;
$pink: #fff0f5;
$yellow: #fffacd;

//? override for project clarity

$color-primary: $blue;
$color-secondary: $pink;
$color-tertiary: $yellow;