*::selection {
  background: $pink;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  max-width: 100%;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: $blue;
}